asgiref==3.7.2
dj-database-url==2.1.0
Django==5.0.1
django-filter==23.5
django-phonenumber-field==7.3.0
django-widget-tweaks==1.5.0
gunicorn==21.2.0
mysqlclient==2.2.4
packaging==23.2
psycopg2==2.9.9
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2023.4
whitenoise==6.6.0
