.main-section h2{

    padding: 0.5rem;

}
.multiselect-native-select{
    box-shadow: none; /* Remove the shadow */
    border-color: transparent; /* Set border color to transparent */
}

.main-section{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    background-color: white;
}
.buttons{
    align-self: flex-end;
    margin:2rem 15rem;  
}
.buttons button{
    margin-left: 10px;
}
.buttons a{
    text-decoration: none;
    color: white;
}

.detail{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.left-detail, .right-detail {
    background-color: white;
    width: 40%;
    padding: 2rem;
    border-radius: 15px;
}
.detail >div >p{
   font-size:medium;
   font-weight: 500;
}
.detail >div >p >span{
    font-weight: normal;
    color: rgb(13, 13, 13);
}