{% extends "main/index-manuscript.html" %}
{% load widget_tweaks %}
{% block main %}
<div class="manuscript">
    <div class="main-title">
        <h3> Edit Manuscript</h3>
     </div>
<div class="manuscript-bg">

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-box">
            <div class="form-box-left">
                {% for field in  form.visible_fields|slice:":14" %}
                <div class="input-box">
                    <label for="" class="form-label">{{field.label_tag}}</label>
                    {{field | add_class:"form-input"}}
                </div>
                {% endfor %}

                 
            </div>

            <div class="form-box-right">
                {% for field in  form.visible_fields|slice:"14:" %}
                <div class="input-box">
                    <label for="" class="form-label">{{field.label_tag}}</label>
                    {{field | add_class:"form-input"}}
                </div>
               
                {% endfor %}
                <input type="submit" value="Edit" class="btn-submit"/>

            </div>
        </div>
        
    </form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap Multiselect JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_language').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select languages',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '30rem',
            buttonheight:'5rem'
        });
    });
    $(document).ready(function() {
        $('#id_genere').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select Genre',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '30rem',
            buttonheight:'5rem'
        });
    });
    $(document).ready(function() {
        $('#id_uid').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select Genre',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '30rem',
            buttonheight:'5rem'
        });
    });
    $(document).ready(function() {
        $('#id_repositoryLocation').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select Genre',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '30rem',
            buttonheight:'5rem'
        });
    });
    $(document).ready(function() {
        $('#id_repository').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select Genre',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '30rem',
            buttonheight:'5rem'
        });
    });
</script>
{% endblock main %}
