{% extends "main/index-manuscript.html" %}
{% load widget_tweaks %}
{% block main %}
<div class="manuscript">
    <style>
        .multiselect-container {
            max-height: 30rem;
            overflow-y: auto;
            overflow-x: hidden;
            font-size: 1.2rem;
            width: 100%;
        }
        .multiselect-selected-text , .btn{
            font-size: 1.3rem;
        }
        .form-label{
            font-size; 2rem;
            font-weight: bold;

        }
      

    </style>
    <div class="main-title">
        <h3> Register Manuscript</h3>
     </div>
<div class="manuscript-bg">

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-box container">
            <div class="form-box-left">
                {% for field in  form.visible_fields|slice:":6" %}
                <div class="input-box ">
                    <label for="" class="form-label">{{field.label_tag}}</label>
                    {{field | add_class:"form-control  w-75 h-25 form-control-lg"}}
                </div>
                {% endfor %}
                {% for field in  form.visible_fields|slice:"6:16" %}
                <div class="input-box ">
                    <label for="" class="form-label">{{field.label_tag}}</label>
                    {{field | add_class:"form-control  w-75 h-25 form-control-lg"}}
                </div>
                {% endfor %}

                 
            </div>

            <div class="form-box-right">
                {% for field in  form.visible_fields|slice:"16:" %}
                <div class="input-box">
                    <label for="" class="form-label text-capitalize fs-5">{{field.label_tag}}</label>
                    
                    {% if field.label == "Image" %}
                   
                    {{field | add_class:"form-control-file w-50 p-10"}}
                    {% else %}
                    {{field | add_class:"form-control w-75 p-10 form-control-lg"}}
                    {% endif %}
                  
                </div>
               
                {% endfor %}
                <input type="submit" class="btn-submit"/>

            </div>
        </div>
        
    </form>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap Multiselect JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_language').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select languages',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '15rem',
            buttonheight:'5rem'
        });
    });
    $(document).ready(function() {
        $('#id_genere').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select Genre',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '15rem',
            buttonheight:'5rem'
        });
    });
    {% comment %} $(document).ready(function() {
        $('#id_uid').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select Genre',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '15rem',
            buttonheight:'5rem'
        });
    }); {% endcomment %}
    $(document).ready(function() {
        $('#id_repositoryLocation').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select Genre',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '15rem',
            buttonheight:'5rem'
        });
    });
    {% comment %} $(document).ready(function() {
        $('#id_repository').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: 'Select Genre',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            buttonWidth: '15rem',
            buttonheight:'5rem'
        });
    }); {% endcomment %}
</script>

{% endblock main %}
