{% extends "main/base.html" %}

{% block title %} home {% endblock title %}
{% block nav %}{% include "main/navbar.html" %}{% endblock nav %}

{% block content %}

<div class="m-3">
    <h2>List of Manuscript</h2>
    <hr>     
    <table class="table">
      <thead>
        <tr>
          <th>Manuscript</th>
          <th>Gener</th>
          <th>Language</th>
        </tr>
      </thead>
      <tbody>
        {% for manuscript in  manuscripts %}
        <tr>
            <td>{{manuscript.mansucript_name}}</td>
            <td>{{manuscript.genere}}</td>
            <td>{{manuscript.language}}</td>
            <td>
                <a href ={% url "detail" manuscript.id %}><button class="btn bg-dark btn-dark" > Detail </button></td> </a>
                
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}
