{% extends "main/index.html" %}
{%load widget_tweaks%}
{% block main %}
<div class="list-main-box">
   
    <div class="search-box form-box-left">
        <form action="" method="post">
            {% csrf_token %}
        <div class="input-bar">
            {% for field in filter.form.visible_fields|slice:":5" %}
            <label>{{field.label_tag}}</label>
            {{field|add_class:"form-input search-bar"}}
            {% endfor %}
        </div>
        <div class="input-bar">
            
            <label class="input-label" for="defaultCheck2">
                All Manuscripts
            </label>
            <input class="form-check-input" type="checkbox" id="defaultCheck2" name="all_manuscripts"
            >
                      
                       {% for field in filter.form.visible_fields|slice:"5:" %}
            <label>{{field.label_tag}}</label>
            {{field|add_class:"form-input"}}
            {% endfor %}
            <button  type="submit" class="btn btn-search btn-submit">
                Search
              </button>

            
          
        </div>
    </form>
    </div>

    {% if manuscripts %}
    <div class="box-list">
        {% comment %} <div class="container"> {% endcomment %}
        <form action="" method="post" class="container">
            <div class="table-box">
                <div class="">
                <table class="table">
                    <thead>
                        <td>index</td>
                        <td>title</td>
                        <td>Genre</td>
                        <td>language</td>
                        <td>repository</td>
                        <td>owner</td>
                        
                        <td>Location</td>
                        <td>inventor</td>
                        <td>Created Date</td>
                        <td></td>

                    </thead>
                    <tbody>
                        {% for obj in manuscripts %}
                        <tr>
                            <td>{{obj.index}}</td>
                            <td>{{obj.manuscript_name}}</td>
                            <td>{{obj.genere}}</td>
                            <td>{{obj.language}}</td>
                            <td>{{obj.repository}}</td>
                            <td>{{obj.repositoryOwner}}</td>
                            <td>{{obj.repositoryLocation}}</td>
                            <td>{{obj.inventor}}</td>
                            <td>{{obj.inventory_date}}</td>
                            {% comment %} <td>{{obj.resp_statement}}</td> {% endcomment %}
                            {% comment %} <td>{{obj.inventory_date}}</td>
                            <td>{{obj.measurement}}</td>
                            <td>{{obj.follos_number}}</td>
                            <td>{{obj.binding}}</td>
                            <td>{{obj.main_content}}</td>
                            <td>{{obj.dating}}</td>
                            <td>{{obj.other_provenance}}</td>
                            <td>{{obj.scripe}}</td>
                            <td>{{obj.no_of_cols}}</td> {% endcomment %}
                            <td>                <a href ={% url "detail" obj.id %} class="btn-detail"> Detail </a></td>
                        </tr>
                        {% endfor %}
                    
                      
                    </tbody>
                </table>

                    

                     
                </div>
            </div>
            
        </form>
    </div>
    {% else %}
    <div class="none"></div>
    {% endif %}
    </div>
{% endblock main %}
