{% extends "main/index.html" %}
{% block main %}
<div class="container">
    <div class="bg-white">
        <div class="main-title">
            <h3>{{ manuscript.manuscript_title }}</h3>
        </div>
        <div class="detail-list overflow-auto">
            <div class="row">
                <ul class="col-12 col-md-6">
                    <li>Shelfmark given by the repository: <span>{{ manuscript.shelf_mark_By_Instutition }}</span></li>
                    <li>Shelfmark given by the Author: <span>{{ manuscript.shelf_mark_By_author }}</span></li>
                    <li>Responsibility Statement: <span>{{ manuscript.responsiblit_statement }}</span></li>
                    <li>Inventory date: <span>{{ manuscript.inventory_date }}</span></li>
                    <li>Measurement: <span>{{ manuscript.measurement }}</span></li>
                    <li>Follos number: <span>{{ manuscript.follos_number }}</span></li>
                    <li>Binding: <span>{{ manuscript.binding }}</span></li>
                    <li>Main content: <span>{{ manuscript.main_content }}</span></li>
                    <li>Date: <span>{{ manuscript.dating }}</span></li>
                    <li>Other provenance: <span>{{ manuscript.other_provenance }}</span></li>
                    <li>Scripe: <span>{{ manuscript.scripe }}</span></li>
                    <li>No of column: <span>{{ manuscript.no_of_cols }}</span></li>
                    <li>Notes cur use: <span>{{ manuscript.notes_cur_use }}</span></li>
                    <li>No of lines: <span>{{ manuscript.no_of_lines }}</span></li>
                    <li>Decoration: <span>{{ manuscript.decoration }}</span></li>
                    <li>Colophones: <span>{{ manuscript.colophones }}</span></li>
                    <li>Additional notes: <span>{{ manuscript.additional_notes }}</span></li>
                    <li>Repository: <span>{{ manuscript.repository }}</span></li>
                    <li>Language: <span>{% for lan in manuscript.language.all %}{{ lan }}{% endfor %}</span></li>
                    <li>Genre: <span>{% for gener in manuscript.genere.all %}{{ gener }}{% endfor %}</span></li>
                    <li>Inventor: <span>{{ manuscript.inventor }}</span></li>
                    <li>Repository owner: <span>{{ manuscript.repositoryOwner }}</span></li>
                    <li>Repository location: <span>{{ manuscript.repositoryLocation }}</span></li>
                </ul>
                <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
                    {% if manuscript.image %}
                    <div>
                        <img src="{{ manuscript.image.url }}" class="img-fluid" alt="Manuscript Image"/>
                    </div>
                    {% endif %}
                    {% if request.user == manuscript.inventor or request.user.role == 'ADMIN' %}
                    <div class="buttons mt-3">
                        <a href="{% url 'edit' manuscript.id %}" class="btn-detail btn ">Edit</a>
                        <a href="{% url 'delete' manuscript.id %}" class="btn-detail btn ">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
