{% extends "main\base.html" %}
{% block content %}
<style>
    .body {
        margin: 0;
        display: flex;
        height: 90vh;
         width: 100%; 
        background-color: #212529;
    }

    .navbar .nav,
.sidebar .nav {
  float: left;
  position: sticky;
}
    .content {
        background-color: white;
        flex: 70%;
        overflow-y: auto;
        padding: 1rem 2rem;
        /* border-radius: 10px 0px; */
    }
</style>
<div class="body">
    <div class="sidebar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sidebar ">
      <div class="container-fluid ">
        
        <button class="navbar-toggler" size="20" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-item"><a class="nav-link" href="{% url "home" %}">Manuscript</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "genres"%}">Genre</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "owners"%}">Repository Owner</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "locations"%}">Location</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "languages"%}">Language</a></li>
            {% comment %} <li class="nav-item"><a class="nav-link" href="{% url "repo"%}">Repository</a></li> {% endcomment %}
            {% if request.user.role == "ADMIN"%}
            <li class="nav-item"><a class="nav-link" href="{% url "users"%}">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "statistics"%}">Statistics</a></li>
            {% endif %}
          
        </ul>
        </div>
      </div>
    </nav>
  </div>
    <div class="content justify-content-center  ">
        {% block main %}
        {% endblock main %}
    </div>
</div>
{% endblock content %}
