<nav class="navbar navbar-expand bg-dark navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "home"%}"><p>Manuscript DB</p></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav">
          {% comment %} <li class="nav-item">  <a class="nav-link" href="{%url "settings"%}">Setting</a></li> {% endcomment %}
          {% comment %} <li class="nav-item"> 
            <a class="nav-link" href="{%url "home"%}" > Home</a>
          </li> {% endcomment %}
          {% if request.user.role == "ADMIN" %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url "home"%}">Dashboard</a>
          </li>
        
         
          {% endif %}
          {% if request.user.role == "INVENTOR" or request.user.role == "ADMIN"  %}
          <li class="nav-item">  <a class="nav-link" href="{%url "entry"%}">Entry</a></li>
          {% endif %}
          
          <li class="nav-item"> 
            <a class="nav-link" href="{%url "view"%}" > View</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="{%url "logout"%}" > Logout</a>
          </li>
          <li class="nav-item nav-link" >Hello, {{ request.user }}    </li>
         
        </ul>

       
        {%else%}
        <span>
        <a href="{%url "login"%}" style="color:rgba(245, 245, 245, 0.447); text-decoration:none;">    Login</a>
        </span>
        {% endif %}
    
      </div>
      
      
      
     

      
  
      
    </div>
  </nav>