{% extends "main\base.html" %}
{% block content %}
<style>
    .body {
        margin: 0;
        display: flex;
        height: 90vh;
         width: 100%; 
        background-color: #212529;
    }

    .navbar .nav,
.sidebar .nav {
  float: left;
  position: sticky;
}
    .content {
        background-color: white;
        flex: 70%;
        overflow-y: scroll;
        padding: 1rem 2rem;
        /* border-radius: 10px 0px; */
    }
</style>
<div class="body">
    <div class="sidebar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sidebar ">
      <div class="container-fluid ">
        
        <button class="navbar-toggler" size="20" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-item"><a class="nav-link" href="{% url "editprofile" %}">Edit Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url "logout"%}">Logout</a></li>
        </ul>
        </div>
      </div>
    </nav>
  </div>
    <div class="content">
        {% block main %}
        {% endblock main %}
    </div>
</div>
{% endblock content %}
