{% extends "main/index.html" %}
{% block main %}
 <div class="box-list">
  <div class="main-title">
    <h3>{{title}}</h3>
  </div>
  <div class="table-box">
    <div class="form-box-left container" >
      <table class="table ">
        <thead>
          <tr>
            <th>Index</th>
            {% if title == "Locations" %}
            <th>Location</th>
            
            {% else %}
            {% if title == "Repositories" or title == "Owners"%}
            <th>ID</th>
            {% endif %}
            <th>{{title}}</th>
            {% endif %}
           <th></th>
         
         
      
      
          </tr>
        </thead>
        <tbody>
          {% for object in  objects %}
          <tr>
            <td>{{ objects.start_index|add:forloop.counter0 }}</td>
            {% if title == "Locations" %}
      
            
            
              <td>{{object.location}}</td>
              {% else %}
              {% if object.index %}
              <td>{{object.index}}</td>
              {% endif %}
              <td>{{object.name}}</td>
            
             
              {% endif %}
      
             
              
              <td>
                {% if object.inventor == request.user or request.user.role == "ADMIN"%}
                   <a href ={% url editUrl object.id%} style="" class="btn-detail" style="margin-left:10px">Edit </a> 
                
                  <a href ={% url deleteUrl object.id %} class="btn-detail" > Delete </a> 
                  {% endif %}
                </td>
                  
            </tr>
          {% endfor %}
      
        </tbody>
      </table>

      <div class="pagination">
        <span class="step-links">
            {% if objects.has_previous %}
            <a href="?page=1">&laquo; first </a>
            <a href="?page={{objects.previous_page_number}}"> previous </a>
    
            {% endif %}
        </span>

        <span class="current">
            Page {{objects.number}} of {{objects.paginator.num_pages}}.
        </span>

        {% if objects.has_next %}
        <a href="?page={{objects.next_page_number}}">next </a>
        <a href = "?page={{objects.paginator.num_pages}}">last &raquo; </a>
        {% endif %}
    </div>
    </div>

    
  </div>
 

 </div>
{% endblock main %}

{% comment %} {% endcomment %}

